<div class="card">
    <div class="card-image">
        <img src="{{ post.image | prepend: site.baseurl }}" alt="{{ post.title }}" width="100%">
    </div>
    <div class="card-content">
        <div class="content">
            <a href="{{ site.baseurl }}{{ post.url }}">
                <p class="title is-4">{{ post.title}}</p>
            </a>
            
        </div>
        <div class="has-text-centered">
            <a href="{{ site.baseurl }}{{ post.url }}" class="button is-dark is-fullwidth">Read more</a>
        </div>
    </div>
</div>
